*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}



header{
    background-color: black;
    width: 100vw;
    height: 1.862vw;
    display: flex;
    gap: 2.313rem;
    align-items: center;
    justify-content: center;
    font-size: 0.688rem;
    color:#9fa6b2;
    line-height: 0.938rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    
    
}

.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.logo p{
    color:#6b7280;
    font-size: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 0.938rem;
}

.home{
   position: relative;
   top: 6.25rem;
   width: 89vw;
   margin: auto; 
   align-items: center;
   display: flex;
   justify-content: space-between;
   border-top: 0.25rem solid black;
   border-bottom: 1px solid rgb(221, 216, 216);
   padding-top: 0.375rem;
   padding-bottom: 0.25rem;
   gap: 1.438rem;
 
}

.options{
    display: flex;
    gap: 1.438rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.719rem;
    color: black;
    line-height: 1rem;
    font-weight: 400;
  
}


.bar{
    display: flex;
    gap: 1rem;
    padding: 0.313rem; 
    align-items: center;  
}

.bar input{
    border: none;
    
   
}

.bar1{
    font-size: 1.813rem;
    font-weight: 400;
    color: #6b7280;
    line-height: 1.5rem;
    cursor: pointer;
}

.glass1{


    font-size: 1rem;
    font-weight: 400;
    color: #6b7280;
    line-height: 1.5rem;

}


.bar input::placeholder{
    font-size: 0.938rem;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
    line-height: 1.25rem;
    color: #808692;
    
}

.options :nth-child(3){
    color: #b53b35;
}

.options :nth-child(4){
    color: #b53b35;
}



 .flood{
    color: red;
    position: absolute;
    transform: translateY(6.375rem);
    right: 18.125rem;
    z-index: 2;
    border: 1px solid rgb(223, 220, 220);
    
    padding: 0.5rem 0.875rem;
    padding-right: 3.5rem;
    padding-bottom: 0.75rem;
    font-size: 0.688rem;
    color:black;
    line-height: 0.938rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: none;
   
    
} 

.flood1{
    color: red;
    position: absolute;
    transform: translateY(6.375rem);
    right: 18.125rem;
    z-index: 3;
    border: 1px solid rgb(223, 220, 220);
    
    padding: 0.5rem 0.875rem;
    padding-right: 3.5rem;
    padding-bottom: 0.75rem;
    font-size: 0.688rem;
    color:black;
    line-height: 0.938rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
   
    
}

.flood1 p{
    padding: 0.313rem;
}


  


.hero{
    margin: auto;
    position: relative;
    top: 7.75rem;
    width: 89vw;
}



@media screen and (max-width: 22.5625rem) {

    header {
        display: none;
    }

    .logo {
        position: absolute;
        top: 3.4375rem;
        margin: auto;
        width: 39.5rem;
        height: 15.25rem;
        transform: translateX(14rem);
    }

    .logo img {
        width: 33.75rem;
        height: 10.375rem;
    }

    .logo p {
        color: #6b7280;
        font-size: 2rem;
        text-align: center;
        margin-top: 1.75rem;
        margin-right: 3.0625rem;
    }

    .hero {
        position: absolute;
        top: 33.6875rem;
    }

    .hero img {
        width: 87rem;
    }

    .options {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 2.625rem;
        color: black;
        line-height: 1rem;
        font-weight: 400;
        text-align: center;
        margin-left: 4.6875rem;
    }

    .bar {
        display: flex;
        padding: 0.3125rem;
        align-items: center;
        margin-right: 4.375rem;
    }

    .bar input {
        display: none;
    }

    .bar1 {
        font-size: 5.625rem;
        font-weight: 400;
        color: #6b7280;
        line-height: 1.5rem;
        cursor: pointer;
        margin-right: 3.25rem;
    }

    .glass1 {
        font-size: 5.625rem;
        font-weight: 400;
        color: #6b7280;
        line-height: 1.5rem;
    }

    .home {
        position: relative;
        top: 6.25rem;
        width: 87.0625rem;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-top: 0.625rem solid black;
        border-bottom: 0.0625rem solid rgb(221, 216, 216);
        padding-top: 1rem;
        padding-bottom: 1.625rem;
        gap: 16.4375rem;
        margin-top: 14.25rem;
    }

    .options p {
        margin-left: 2.125rem;
        white-space: nowrap;
    }

    .options p:nth-child(n+4):nth-child(-n+16) {
        color: red;
        display: none;
        font-size: 1.4375rem;
    }

    .flood {
    }

    .flood1 {
        position: relative;
        left: 37.6875rem;
        padding: 0.5rem 0.875rem;
        padding-right: 3.5rem;
        padding-bottom: 0.75rem;
        width: 42.875rem;
        white-space: nowrap;
        font-size: 3.625rem;
    }

    .flood1 p {
        margin: 5rem;
    }
}
 
 
 @media screen and (min-width: 362px) and (max-width: 500px) {

    header{
        display: none;
       }
    
       .logo{
        
        position: absolute;
        top: 55px;
        margin: auto;
        width: 632px;
        height: 244px;
        transform: translateX(224px);
        margin-left: 88px;
    }
    
    .logo img{
        width: 540px;
        height: 166px;
    }
    
    .logo p{
        color:#6b7280;

        font-size: 32px;
        text-align: center;
        margin-top: 28px;
        margin-right: 49px;
    }
    
    .hero{
       position: absolute;
       top: 539px;
    
        
    }
    
    .hero img{
        width: 1702px;
    }
    
    
    
    
    
    
    .options{
        display: flex;
        
        font-family: "Roboto", sans-serif;
        font-size: 42px;
        color: black;
        line-height: 16px;
        font-weight: 400;
        text-align: center;
        margin-left: 40px;
   
    
    }
    
    
    
    .bar{
        display: flex;
       
        padding: 5px; 
        align-items: center; 
        position: relative;
        right: 50px;
        margin-right: 70px; 
    }
    
    .bar input{
        display: none;
        
       
    }
    
    
    .bar1{
        font-size: 90px;
        font-weight: 400;
        color: #6b7280;
        line-height: 24px;
        cursor: pointer;
        margin-right: 52px;
    }
    
    .glass1{
    
    
        font-size: 90px;
        font-weight: 400;
        color: #6b7280;
        line-height: 24px;
    
    }
    
    
    
    
    .home{
        position: relative;
        top: 100px;
        width: 1728px;
        margin: auto; 
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-top: 10px solid black;
        border-bottom: 1px solid rgb(221, 216, 216);
        padding-top: 16px;
        padding-bottom: 26px;
        gap: 263px;
        margin-top: 228px;
        
        
        
      
     }
     
    .options p{
       margin-left: 34px;
       text-wrap: nowrap;
    }
    
    .options p:nth-child(n+5):nth-child(-n+16) {
        
        
        display: none;
        font-size: 23px;
    
    }
   
    .flood{
       
    }
    
    .flood1{
      
       position: relative;
       left: 878px;
       padding: 8px 14px;
       padding-right: 56px;
       padding-bottom: 12px;
       width: 686px;
       text-wrap: nowrap;
       font-size: 58px;
      
    }
   
    .flood1 p{
       margin: 80px;
   
    }
   




 }















@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
